@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    Welcome to our Auction House.
    Here you can preview items we have on sale and possibly add your own items to the list. </br>
</p>
